@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz@0,6..12;1,6..12&display=swap');

$font-family: "Nunito Sans", sans-serif;
$background-color: #f8f8f8;
$fore-color: #000000;
$highlight-color: #4287f5;